[Unit]
Description=Redis Slave
After=network.target

[Service]
Type=simple
PIDFile={{ redis_slave_run_dir }}/redis.pid
User=root
ExecStartPre=/bin/mkdir -p {{ redis_slave_run_dir }}/logs
ExecStart=/data/redis/master/src/redis-server {{ redis_slave_run_dir }}/redis.conf
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
